BasedOnStyle: Mozilla

Language: Cpp
Standard: Cpp11

UseTab: Never
IndentWidth: 2
ColumnLimit: 100

AllowShortIfStatementsOnASingleLine: false
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
